<div style="text-align: center" class="col-sm-12">
        <div class="input-group mb-3">
            <input type="text" value="{{mp4}}" class="form-control" placeholder="Link channel" disabled>
        </div>
        <button class="btn btn-success" href="{{mp4}}">Download</button>
        <a href="/download" class="btn btn-warning">Back</a>
</div>
</div>