<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form method="post">
    <div class="input-group mb-3">
        <input type="text" name="url" class="form-control" placeholder="Link channel">
    </div>
    <br />
    <button type="submit" class="btn btn-success">Get ID</button>
</form>