<div class="col-sm-12">
    <h1 style="text-align: center">{{title}}</h1>
    <p style="text-align: center">Welcome to {{title}} by Minh Quân</p>

    <form method="post" style="text-align: center">
        {{#if msg}}
            <p class="text-danger">{{{msg}}}</p>
        {{/if}}
        <div class="input-group">
            <textarea class="form-control" aria-label="With textarea" name="link_channel" rows="10"></textarea>
        </div>
        <br />
        <button type="submit" class="btn btn-success">Get ID</button>
    </form>
</div>